
#home {
  background-color: #ffffff; /* biru muda, bisa kamu ganti */
    padding: 15px ;
}
#layanan {
    padding: 15px ;

}
#harga {
  background-color: #ffffff; /* biru muda, bisa kamu ganti */
    padding: 15px ;
}
    
    .footer {
        background-color:rgb(58, 159, 167);
;
        color: white;
    }
    
#testemoni{
  background-color: #ffffff; 
    padding: 30px ;
}
